body {
    margin: 0;
}

$main-blue: #4f8ebb;
$main-grey: #758ca1;
$main-grey-hover: #05335e;

$border: 2px solid $main-blue;

@mixin flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-start-start {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

@mixin flex-around-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
}



//  <

@mixin flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-start-center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@mixin flex-center-start {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

@mixin flex-start-start {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

//  <

@mixin flex-column-start-center {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}